.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.card ul .last-card{
  padding: 10px;
}

.last-card .cards-card-pretitle p {
  color:var(--Brands-Warm-Dark, #625E59);
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
}

.last-card .cards-card-title p {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1%;
  margin: 0;
  
}

.last-card .cards-card-subtitle p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;  
}

.last-card .cards-card-bodytext p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
}
