.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0 !important;
  margin: 0 !important;
}

.hero.block {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero.block picture {
  max-width: 100%;
  height: auto;
  display: block;
}
.hero.block img {
  width: 100%;
  aspect-ratio: 16/9;
}
.hero.block p {
  margin: 0;
}
.hero-wrapper .hero-text-1{
  font-weight: 800;
  font-size: var(--body-font-size-xs);
  text-align: center;
  color: var(--color-dark-warm);
  margin-bottom: 8px;
  margin-top: 24px;
}
.hero-wrapper .hero-text-2{
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  line-height: 58px;
  margin-bottom: 4px;

}
.hero-wrapper .hero-text-3{
  font-weight: 500;
  font-size: var(--heading-font-size-s);
  text-align: center;
  line-height: 24px;
  color: var(--color-dark-warm);
  margin-bottom: 16px;
}
.hero-wrapper .hero-text-4{
  font-weight: 400;
  font-size: var(--body-font-size-s);
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-darkest-warm);
}

.hero-cta-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.hero-cta-1 {
  text-align: right;
  flex: 1;
}

.hero-cta-2 {
  text-align: left;
  flex: 1;
}
.hero-cta-container .hero-cta-1 a.button:any-link {
  padding: 16px 32px;
}

.hero-cta-container .hero-cta-2 a.button:any-link {
  padding: 16px;
}

.hero-cta-2 a {
  color: var(--link-color) !important;
  background: unset !important;
}

.hero-cta-container a.button:any-link {
  margin: 0px;
}